.image_modal {
    z-index: 5;
    .image_wrapper {
        padding: 6px;
        height: calc(100% - 50px);
        display: flex;
        .image {
            height: 100%;
            position: relative;
            img {
                user-select: none;
                pointer-events: none;
            }
            .preview {
                height: 100%;
                object-fit: contain;
                border-radius: 5px;
                transition: all 0.5s ease-in;
                animation-duration: 1s;
                animation-name: show;
                opacity: 1;
            }
            @keyframes show {
                from { visibility: hidden; }
                to { visibility: visible; }
            }
            .full {
                height: 100%;
                object-fit: contain;
                border-radius: 5px;
                transition: all 0.5s ease-out;
                position: absolute;
                left: 0;
                opacity: 0;
            }
        }
        
    }
}