<div
  class="image_modal modal"
  [ngClass]="{ show: showImageModal }"
  (click)="closeImageModal()"
>
  <div class="image_wrapper" *ngIf="openedImage">
    <div class="image">
      <img class="preview" [src]="openedImage.previewData" />
      <img
        class="full"
        [src]="openedImage.imageData"
        [ngStyle]="{
          opacity: openedImage.imageData ? 1 : 0
        }"
      />
    </div>
    <div class="tags_wrapper">
      <app-tag-list
        [getSelectStatus]="getTagSelectedForImage.bind(this)"
        (toggle)="toggleTagOnImage($event)"
      ></app-tag-list>
    </div>
  </div>
</div>
