<div
  class="image_modal modal"
  [ngClass]="{ show: showImageModal }"
  (click)="closeImageModal()"
>
  <div class="image_wrapper" *ngIf="openedImage">
    <div class="image">
      <img class="preview" [src]="openedImage.previewData" />
      <img
        class="full"
        [src]="openedImage.imageData"
        [ngStyle]="{
          opacity: openedImage.imageData ? 1 : 0
        }"
      />
    </div>
    <div class="tags_wrapper">
      <div *ngFor="let tag of tags">
        <app-tag
          *ngIf="authorized || getTagSelectedForImage(tag, openedImage)"
          [editable]="authorized"
          [tag]="tag"
          [selected]="getTagSelectedForImage(tag, openedImage)"
          [canToggle]="authorized"
          (selectToggle)="authorized && toggleTagOnImage(tag, openedImage)"
          (changeTagName)="changeTagName(tag.tagId, $event)"
          (deleteTag)="deleteTag(tag.tagId)"
        ></app-tag>
      </div>
      <app-tag
        *ngIf="addingNewTag"
        [createNew]="true"
        (createNewTag)="createNewTag($event)"
      >
      </app-tag>
      <div
        class="add_tag"
        *ngIf="authorized"
        (click)="addingNewTag = true; $event.stopPropagation()"
      >
        <img [src]="ADD" />
      </div>
    </div>
  </div>
</div>
