<app-edit-section
  [section]="editableSection"
  (click)="resetEditSection()"
  (closeEdit)="resetEditSection()"
></app-edit-section>
<section class="menu_wrapper">
  <div class="logo_wrapper">
    <img [src]="LOGO" />
  </div>
  <div class="pages">
    <div class="top">
      <h4 class="page about_me">Обо мне!</h4>
      <span class="page" (click)="openAllImagesSection()">
        Все изображения
      </span>
      <span
        class="page"
        *ngFor="let section of sections"
        (click)="
          !section.edit ? openSection(section.sectionId) : resetEditSection()
        "
        [ngClass]="{
          edit: !!section.edit
        }"
      >
        <span *ngIf="!section.edit; else editSectionName">{{
          section.section
        }}</span>
        <ng-template #editSectionName>
          <input
            #editSectionNameInput
            [value]="section.section"
            (click)="$event.stopPropagation()"
            (keyup.enter)="
              changeSectionName(section.sectionId, editSectionNameInput.value);
              editSectionNameInput.blur()
            "
            (keyup.esc)="resetEditSection(false)"
          />
        </ng-template>
        <span
          class="page_edit"
          *ngIf="!section.edit && authorized"
          (click)="
            focusOnSection(section);
            openSection(section.sectionId);
            $event.stopPropagation()
          "
        >
          <img [src]="EDIT" />
        </span>
      </span>
    </div>
    <div class="bottom">
      <app-tag
        *ngFor="let tag of tags"
        [tag]="tag"
        [selected]="tagInFilter(tag.tagId)"
        [editable]="false"
        [canToggle]="true"
        (selectToggle)="tagInFilterToggle(tag, $event)"
      >
      </app-tag>
    </div>
  </div>
  <div
    class="unfocus"
    [ngClass]="{ show: editableSection }"
    (click)="resetEditSection()"
  ></div>
</section>
