<div
  class="admin_auth"
  (click)="authorized ? logout() : (showAuthModal = true)"
>
  <img [src]="authorized ? UNLOCK : LOCK" />
</div>
<div
  class="auth_modal modal"
  [ngClass]="{ show: showAuthModal }"
  (click)="showAuthModal = false"
>
  <div class="auth_wrapper" (click)="$event.stopPropagation()">
    <div class="password_form__group field">
      <input
        #password
        type="input"
        class="password_form__field"
        placeholder="Name"
        name="password"
        id="password"
        required
      />
      <label for="password" class="password_form__label">Пароль</label>
    </div>
    <div class="popover__content"></div>
    <div class="auth_submit_wrapper">
      <button class="auth_submit" (click)="auth()">Войти</button>
    </div>
  </div>
</div>
